* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
}

header {
    background-image: url(img/jumbo.png);
    background-size: cover;
    color: white;
    min-height: 500px; 

}


nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}


.menù {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 70%; 
    margin-top: 20px;
}

a{
    text-decoration: none;
    color: white;
}

.logo, #lista, .clicca.accesso {
    display: flex;
    align-items: center;
}

.logo::after{
    content: url(img/logo.svg);
}

#lista {
    width: 60%;
    flex-flow: row;
    display: flex;
    list-style-type: none ;
    justify-content: space-evenly;
}

#login {
    width: 25%;  
    justify-content: flex-end; 
    text-decoration: none;
}

#testata {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-bottom: 20px;
}

#titolo, #intro {
    text-align: center;
    width: 38%;
}

#titolo {
    font-size: 50px;
}

#intro {
    font-size: 16px;
}

.clicca {
    background-color: white;
    color: black;
    border-radius: 25px;
    border: solid 0px;
    padding: 10px 30px;
    font-size: 15px;
} 

.clicca.nero{
    background-color: black;
    color: white;
}

.clicca.azzurro {
    background-color: rgb(164, 184, 250);
    margin-bottom: 80px;
}

#per-scaricare {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.grafica {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 70px;
    padding: 30px;

}

.grafica.destra {
    background-color: rgb(218, 218, 218);
}

.img{
    width: 35%;
}

.descrizione {
    width: 15%;
}
.descrizione.finale {
    width: 50%;
}
.capitolo {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 35px;
}

.testo{
    font-size: 16px;
}
.grafica.centrale{
    background-color: rgb(218, 218, 218) ;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .img.centrale {
    width: 80%;
}

#invito{
    font-size: 23px;
    background-image: url(img/stars.svg);
    background-size: 100%;
    padding: 15px;
}
footer{
    width: 100%;
    background-color: rgb(15, 15, 15);
    display: flex;
    justify-content: center;
}
#piepagina {
    width: 70%; 
} 

 #footer-prima-parte {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 30px;
 }

#social h2 {
    color: rgb(164, 184, 250);
    margin-bottom: 25px;
}

 #social {
    width: 20%;
    margin-right: 30px;
 }

#bandiere {
    width: 15%;
}

#lingua {
    background-color: rgb(15, 15, 15);
    color: white;
    border: none;
    text-align: center;

}

.link-footer {
    width: 20%;
    border-color: white;
}

#lista-footer {
    font-size: 15px;
    line-height: 200%;
}

.titoli-footer {
    color: rgb(164, 184, 250);
    list-style: none;
}

#lista-footer {
    line-height: 200%;
    list-style: none;
}

#fine{
    display: flex;
    justify-content: center;
}



hr {
    color: lightgray;
}
.footer-seconda-parte {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 30px 0 70px;
      
}
    
