* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
}

header {
    background-image: url(img/jumbo.png);
    background-size: cover;
    color: white;
    min-height: 500px; 

}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}


.menù {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 70%; 
    margin-top: 20px;
}

a{
    text-decoration: none;
    color: white;
}

.logo, #lista, .clicca.accesso {
    padding: 5px;
    display: flex;
    align-items: center;
}

.logo::after{
    content: url(img/logo.svg);
}

#lista {
    width: 60%;
    flex-flow: row;
    display: flex;
    list-style-type: none ;
    justify-content: space-evenly;
}

#login {
    width: 25%;  
    justify-content: flex-end; 
    text-decoration: none;
}

#testata {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-bottom: 20px;
}

#titolo, #intro {
    text-align: center;
    width: 38%;
}

#titolo {
    font-size: 50px;
}

#intro {
    font-size: 16px;
}

.clicca {
    background-color: white;
    color: black;
    border-radius: 25px;
    border: solid 0px;
    padding: 10px 35px;
    font-size: 15px;
}  

#clictestata {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.clicca.accesso {
    padding: 5px 20px;
}

.clicca.nero{
    background-color: black;
    color: white;
}
.grafica {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    margin: 70px;
    gap: 50px;

}

.grafica.destra {
    background-color: rgb(218, 218, 218);

}

.img{
    width: 35%;
}

.descrizione {
    width: 15%;
}

.capitolo {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 35px;
}

.testo{
    font-size: 16px;
}
.grafica.centrale{
    background-color: rgb(218, 218, 218) ;
 }
 .img.centrale {
    width: 50%;
 }

#piepagina {
    width: 100%;
    height: 580px;
    background-color: black;
} 

 #footer-prima-parte {
    height: 500px;
    border-bottom: solid rgb(156, 156, 156) 1px;
    display: flex;
    justify-content: center;
 }

 #footer-prima-parte > div{
    height: 92%;
    margin-top: 10px;
 }

 #rosso{
    background-color: rgb(197, 97, 97);
    width: 25%;
    border-style: dotted;
    border-color: black;
 }
.verdeacqua {
    width: 12.5%;
    height: 95%;
    background-color: rgb(76, 223, 198);
    border-style: dotted;
    border-color: white;
}
 
#fine{
    display: flex;
    justify-content: center;
}
.footer-seconda-parte {
    background-color: rgb(159, 236, 159);
    width: 75%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center ;  
}
    
#logo {
    background-color: rgb(197, 97, 97) ;
    padding: 2px;
    border: dotted black;
}

